*{
    box-sizing: border-box;
}

img{
    float: left;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    object-fit: cover;
}

.row{
    text-align: center;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
